@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}


::-webkit-scrollbar-thumb
{
  background: rgba(99, 99, 99, 0.568);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(54, 54, 54, 0.651) ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-bottom: 80px;
  min-height: 80vh;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: linear-gradient(155deg, #2200FF, #8472FF, #FFFFFF);
    background-size: 600% 600%;
    animation: GradientBackground 8s ease infinite; */

}


.home-main{
    background: linear-gradient( 114deg, #bdb4fa, #7965fd,#3113f8 );
    background-size: 600% 600%;
    animation: GradientBackground 10s ease infinite;
    margin: -70px auto 0 auto;
    padding: 145px 0 0 0;
    height: 400px;
}

.back-blur{
  content: ' ';
  position: relative;
  top: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100.2%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%,rgba(255, 255, 255, 0) 25%);
}

.genre-page{
  /* background: linear-gradient( 114deg, #bdb4fa, #7965fd,#3113f8 ); */
  /* background-size: 600% 600%;
  animation: GradientBackground 12s ease infinite; */
  margin: -70px auto 0 auto;
  padding: 125px 0 0 0;
  height: 250px;
}

.romance-page{
  background: linear-gradient(114deg, #e4a7af, #E95C70, #E71D3A);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.thriller-page{
  background: linear-gradient(114deg, #b899ce, #8F3FC8, #7E13CA);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.young-adult-page{
  background: linear-gradient(93deg, #e9bcac, #EA7C54, #E8521B);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.science-fiction-page{
  background: linear-gradient(80deg, #dfcf84, #EAD25D, #E8C51B);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.fantasy-page{
  background: linear-gradient(80deg, #9fc0c7, #45ACC1, #0FA7C6);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.poetry-page{
  background: linear-gradient(80deg, #b6c0a7, #95C153, #7EC514);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.biography-page{
  background: linear-gradient(80deg, #B6B6B6, #7F8B93, #576670);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.self-help-page{
  background: linear-gradient(80deg, #a4b7e0, #5780DC, #1B54D3);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.back-blur-genre {
  content: ' ';
  position: relative;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100.3%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%,rgba(255, 255, 255, 0) 25%);
}


@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left:0;
    height: 80px;
    width: 100%;
}

@media (max-width: 500px){
  .home-main{
    margin-top: -65px;
    padding: 100px 0 0 0;
    height: 55vh;
}
}

@media (max-height: 800px) and (orientation: portrait){

  .home-main{
    height: 450px;
}
}